header{
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
}

.loginBanner {
    
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    height: 70vh;
    width: 110%;
    min-width: 400px;
    max-height: 800px;
    margin: 0 -30px;
}
 

  .green {
    background-color: green;
    height: 30%;
    width: 100%;
    text-align: center;
  }

  .white {
    background-color: white;
    height: 70%;
  }
  
  .user {
    width: 100px;
    height: 100px;
    margin-top: 30px;
  }

.foreground {
    background-color: white;
    z-index: 5;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);  
    text-align: center;
    padding: 30px;
    margin-top: 170px;
    width: 15%;
    min-width: 300px;
    position: absolute; /* for some reason removing this makes it go on the same layer. because of this i think its taking the body as parent */
    left: 50%;
    transform: translateX(-54%);
  }

.foreground > h3 {
    font-weight: 300;
    text-align: center;

}

.form-control {
    border-color: green !important; 
    border-radius: 0 !important;
    margin-bottom: 10px;
  }

 
  #dropdownMenuButton {
    background-color: transparent;
    color: black;
    border-radius: 0;
    width: 100%;
    border-color: green !important; 
    text-align: left;
    justify-content: space-between  ;
    display: flex;
    flex-direction: row ;
    color: grey;
  }
.login-button {
    background-color: green !important;
    border-radius: 0 !important;
    width: 70%;
    margin-top: 10px;
}

.account {
  position: relative; /* without position relative it doesnt move. margin-top doesnt move either */
  top: 94%;
}
.password {
    position:relative;
    top: 94%;
    right: -45%; /* because of relative, this doesnt work either */
}

a {
    color: black !important;
    text-decoration: none !important;

}