* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-y: hidden;
}

header {
  text-align: center !important;
}

.container-fluid {
  height: 100%;
  overflow-y: hidden;
}

.user-interaction {
  margin-top: 40px;

  height: 70%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  min-width: 370px;
}

.box-green {
  height: 30%;
  background-color: green;
  text-align: center;
}
.box-white {
  height: 70%;
  background-color: white;
  position: relative;
  z-index: -1;
}


.overlay-box {
  z-index: 10;
  height: 200%;
  width: 80%;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  padding: 20px;
}

.welcome-text {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 500;
}

.register-button {
  border-radius: 0px !important;
}

.already-member {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 15;
  text-decoration: none;
  color: black;
}