*{
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 0px;
  position: absolute;
  top: 0;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.right-section {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.image-button {
  background-color: black;
  border: none;
  padding: 0;
  margin-right: 8px;
  cursor: pointer;
}

.image-button img {
  width: 24px;
  height: 24px;
}



.main-content {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.container {
  width: 100%;
  height: 100%;

  background-color: white;
}
.container-dark {
  width: 100%;
  height: 100%;

  background-color: rgb(33, 32, 32);
}
.btn {
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 0px;
  margin-bottom: 5px;
  background-color: rgb(127, 127, 240);
}

.btn-dark {
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 0px;
  margin-bottom: 5px;
  background-color: grey;
  color: white;
}

.head {
  color: black;
}

.head-dark {
  color: white;
}

img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(38deg) brightness(96%) contrast(111%);
}

.calc {
  width: 100%;
  text-align: center;
}

.calcBtn {
  margin-left: 50%;
  transform: translateX(-50%);
}

#eq {
  margin: 0;
  padding: 0;
}


.upper {
  background-color: grey;
  width: 200px;
  height: 100px;

  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lower {
  background-color: rgb(177, 177, 177);
  width: 200px;
  height: 300px;

  margin-left: 50%;
  transform: translateX(-50%);
  border-radius:0 0 10px 10px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calc-display {
  margin-top: 10px;
}

.calc-button {
  width: 40px;
  height: 40px;

  background-color: lightblue;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;

  user-select: none;
}

.row {
  display: flex;
      justify-content: space-between;
      padding: 0 20px;
      gap: 5px;
}

.empty-button {
  background-color: rgb(177, 177, 177);
  width: 40px;
  height: 40px;

}